// PSD height: 826px = 100%

/* General styles */
html, body {
  height: auto;
}

input, button {
  min-height: 7.2vh;
}

input, button {
  font-size: 16px !important;
}

.body--login {
  background-image: url(../assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

/* Header */

.login-header {
  color: #fff;
  padding-top: 25vh;
  padding-bottom: 12vh;
}

.login-form__btn-next {
  background-color: #ec8524;
  color: #fff;
  margin-bottom: 7.27vh;
}

.login-help-links {
  margin-bottom: 18.6vh;
}

.login-help-links a {
  color: #fff;
}

.login-header--logo {
  background-image: url(../assets/img/tumblr-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

/* Footer */

.login-terms a {
  color: #fff;
}

.login-terms li {
  padding: 0px;
}